<br>
<div class="alert alert-info" role="alert">
  ATENCIÓN: Para crear un nuevo artículo, si desea que se agregue al carousel y a las categorias en la página principal, es necesario agregar una imagen, sólo una.
</div>

<h1>Nuevo</h1>


<%= render "form", message: @message %>


<br>

<div>
  <%= link_to "Back", root_path %>
</div>
