<br>
<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
    <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a target="_blank" href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a>
  </div>
  <center>
<div>
  <%= image_tag 'marca-pie.png', crop: :fill, width:'100px' %>

</div>
 </center>
  <div class="footer-copyright">
    Hecho por Stairway SpA
  </div>
</div>
