@import "navbar";
@import "cards";
@import "buttons";
@import "footer";
@import "carousel";
@import "whatsapp";

body {
  background-color: #EED180;
}

h1 {
  font-family:  'Fasthand', cursive;
}

.trix-content  {
  text-align: justify;
  text-justify: inter-word;
}
