.navbar-lewagon {
  justify-content: space-between;
  background: #FFF56D;
  border-radius:  0px 0px 50px 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.user-icon {
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(201, 157, 92);
  opacity: 0.85;
  text-decoration: none;
  font-size: 16px;
}
